@import "tailwindcss";

@theme {
  --color-border: #0505050F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif !important;
}

.borderr {
  border: 1px solid red !important;
}
